.create-wrapper {

    margin-left: 20px;
}

.create-input {
    color: black;
    display: inline-block;
    width: 300px;
    height: 25px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    border-radius: 2px;
}

.input-description {
    display: inline-block;
    margin-left: 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}

.not-blank::placeholder {
    color: orange;
}

.orange {
    color: orange;
}

.desc {
    display: block;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}