.create-wrapper {

    margin-left: 20px;
}

.create-input {
    color: red;
    display: inline-block;
    width: 300px;
    height: 25px;
}

.input-description {
    display: inline-block;
    margin-left: 10px;
}

.not-blank::placeholder {
    color: rebeccapurple;
}