.create-wrapper {

    margin-left: 20px;
}



.create-input {
    color: black;
    display: inline-block;
    width: 300px;
    height: 25px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    border-radius: 3px;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    color: white;
}

.create-input::placeholder {
    color: rgb(255, 255, 255);
}

.not-blank {
    border: 2px solid red;
}

.input-description {
    display: inline-block;
    margin-left: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.not-blank::placeholder {
    color: red;
}

.orange {
    color: red;
}

.desc {
    display: block;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    color: white;
}

.button-wrapper {
    display: inline-block;
}

.btn {
    width: 80px;
    height: 30px;
    margin: 10px;
}

.btn:hover {
    cursor: pointer;
}

.pull {
    color: green;
}

.push {
    color: blue;
}